@page
@model IndexModel
@{
    ViewData["Title"] = "Krisinformation";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <h1>Samtliga Meddelanden</h1>
    
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Rubrik</th>
            <th scope="col">Published</th>
            <th scope="col">Country</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var msg in Model.Messages)
        {
            <tr>
                <td>@msg.Identifier</td>
                <td>@msg.Headline</td>
                <td>@msg.Published.ToShortDateString()</td>
                <td>@msg.Area[0].Description</td>
                <td>
                    <a asp-page="/SingleMessage"
                       asp-route-messId="@msg.Identifier"
                       class="btn btn-success">
                        Läs mer
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

